<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("/Content/bootstrap.min.css")">
    <script src="@Url.Content("/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("/Scripts/angular-ui-router.min.js")"></script>
    <script src="@Url.Content("/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("/Scripts/app.js")"></script>
</head>
<body ng-app="recordsapp">
    <div style="padding: 20px">
        <div ui-view></div>
    </div>
</body>
</html>
